body{
    margin: 0;
    padding: 0;   
    background-color: #fff;
}
h1{
    margin: 0;
    
}

.menu ul{    
    height: 40px;
    background-color:  #000;
    margin:0;
    padding: 0;
    padding-left: 40px;
    list-style: none;
    line-height: 40px;
    text-decoration: none;
    
}
.menu{
    background-color: #000;
}
.menu li{
    height: 40px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
}
.menu li:hover{
    background-color: #ddd;
    color: #333;
    
}
.container{    
    min-height: 200px;
    background-color: #fff;
    margin: 20px;
}
.menu .logout{
    margin: 0;
    float: right;
    background-color: orangered;
    color: #fff;
}